# Gradle
.gradle/
build/

# Kotlin
.kotlin/

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Local config
local.properties

# Xcode (KMM iOS)
xcuserdata/
DerivedData/